style.css
body {
text-align: center;
background: #fafafa;
}

.area img {
    display: block;
    max-width: 100%;
    height: auto;
}
.area {
    width: auto;
    height: auto;
    min-width: 200px;
    min-height: 100px;
}
form, fieldset{
display: inline;
}
h4{
margin: 0;
}
.mensagem, .posicao {
font-weight: bold;
}
.espacamento{
height: 500px;
}
body {
    background: #fafafa;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
