.box{
    margin:5px;
    background-color: aquamarine;
    height: 40px;
    width: 120px;
    padding: 15px;
    text-align: center;
    align-content: center;
    display: inline-block
}

.box2{
    margin:5px;
    background-color: rgb(131, 213, 49);
    height: 40px;
    width: 120px;
    padding: 15px;
    text-align: center;
    align-content: center;
    display: inline-block
}

.box3{
    margin:5px;
    background-color: rgb(213, 181, 90);
    height: 40px;
    width: 120px;
    padding: 15px;
    text-align: center;
    align-content: center;
    display: inline-block
}

.box4{
    margin:5px;
    background-color: rgb(213, 145, 49);
    height: 40px;
    width: 120px;
    padding: 15px;
    text-align: center;
    align-content: center;
    display: inline-block
}