.menu{
    height: 50px;
    width: 200px;
    background-color: blueviolet;

    position: fixed;
    top: 0;
}

.sticky {
    height: 50px;
    width: 200px;
    background-color: rgb(229, 255, 33);
    margin: 100px 0px 0px 200px;
    position: sticky;
    top: 0;
    }

.caixa{
    position:relative;
    height: 2000px;
    width: 100px;
    background-color: rgb(93, 162, 139);

    top: 50px;

}

.caixa-absoluta{
    height: 20px;
    width: 20px;
    background-color: brown;

    position: absolute;
    right: 0;
}

.absoluta{
    height: 50px;
    width: 50px;
    background-color: blue;

    position: absolute;
    left: 40%;
    top: 0;
}