.caixa{
    width: 400px;
    height: 300px;
    background-color: rgb(62, 162, 244);
    position: relative;

}

.caixa02{
    width: 100px;
    height: 100px;
    background-color: rgb(31, 241, 38);
    position: absolute; bottom: 0; right: 0;
}