.caixa{
    width:  100%;
    height: 60px;
    background-color: rgb(0, 0, 0);
    color: white;
    position: relative;
    position: fixed; top: 0; left: 0;
    text-align: center;

}

.p{
    font-size: xx-large;
}